<div>
  <h2>Правила онлайн фестивалей</h2>
  <ul>
    <li>
      <h3>О регистрации</h3>
      <p>Для участия в онлайн фестивалях, голосованиях и обсуждениях необходимо <a href="/login">зарегистрироваться</a>.
        Подтверждение по почте не требуется, для успешной регистрации достаточно ввести обязательные поля
        и правильно ответить на вопрос о музыкальных инструментах. Адрес электронной почты может в будущем пригодиться для восстановления пароля,
        поэтому желательно, чтобы адрес был настоящий.
        Если Вы являетесь участником форума blf.ru и уже принимали участие в фестивалях в рамках форума (<a href="/blfRuStatistic">список участников</a>),
        имеет смысл задать такое же имя при регистрации. На Ваше имя установлена бронь, - регистрация с забронированным именем возможна только с тем же адресом
        электронной почты, который был использован при регистрации на форуме blf.ru. Если тот адрес электронной почты уже не активен, ничего страшного
        - после входа в систему его можно поменять на действующий.</p>
    </li>
    <li>
      <h3>Об участии</h3>
      <p>В рамках онлайн фестиваля можно принять участие в одной из обязательных и в свободной программе.
        Для этого необходимо оставить заявку с описанием и с ссылками на ваши готовые аудио или видео записи в <a href="/baroque">обязательной классической</a>
        или  <a href="/jazz">джазовой</a> программе, а также в <a href="/free">свободной</a> программе.
        <br/>
        Оставить заявку и в классической, и в джазовой программе не возможно - программа позволяет добавить заявку только в одну из обязательных программ.
        В случае решения поменять обязательную программу, Вам необходимо удалить свою заявку из неверно выбранной закладки.
        В этом случае вторая закладка разблокируется. Удаление заявки производится физически со всеми ответами администратора. Если в переписке была важная
        информация, ее стоит сохранить на своем локальном компьютере.
      </p>
    </li>
    <li>
      <h3>Об особенностях различных программ</h3>
      <p>Обычно в обязательных программах нужно играть соло без аккомпанемента, а в свободной можно и с аккомпанементом, и без, по вашему желанию.
        В тех случаях, когда в обязательной программе есть аккомпанемент, к заданию прикладывается минусовка. Предложенная  минусовка не является
        обязательной. Желающие могут сделать ее  самостоятельно.
      </p>
    </li>
    <li>
      <h3>О голосовании</h3>
      <p>На странице <a href="/voting">голосований</a> Вам нужно отметить записи участников, которые Вам больше всего
        понравились. Вы можете отметить от одной до всех записей. Порядок выбора имеет значение.
        В конце голосования сайт автоматически подсчитает количество лавровых листочков для каждого участника и обновит <a href="/blfRuStatistic">статистику</a>.
        У участников конкурса есть возможность проголосовать за своих коллег.</p>
    </li>
    <li>
      <h3>О коллективном творчестве в свободной программе</h3>
      <p>Можно воспользоваться помощью других музыкантов для записи свободной программы в разнообразных вариантах:</p>
        <ul>
          <li>
            <h4>Добровольный помощник</h4>
            <p>Помощник выступает только в качестве концертмейстера, играющего на любом инструменте, включая духовой.
               В этом случае помощнику  нет необходимости регистрироваться на сайте. Листочки
              засчитываются только зарегистрированному участнику ансамбля.</p>
          </li>
          <li>
            <h4>Ансамбль</h4>
            <p>Все участники ансамбля делят ответственность за провал и лавры за успех поровну - каждому участнику ансамбля начисляется столько листочков, сколько
              заработал их номер. Все участники должны быть зарегистрированы на сайте.</p>
          </li>
          <li>
            <h4>Большой творческий коллектив</h4>
            <p>В записи одного номера свободной программы могут принять участие неограниченное количество участников.
              Статус коллектива на фестивале может быть выбран из двух вышеприведенных вариантов. Либо один солист и много помощников, либо один единный ансамбль.
              В первом варианте коллектив теоретически может сделать столько записей, сколько в ансамбле  участников,
              назначив на каждое произведение своего ответственного.
            </p>
          </li>
        </ul>
    </li>

    <li>
      <h3>О записи партий наложением</h3>
      <p>В свободной программе допустимо комбинировать запись аккомпанемента из нескольких дублей, главный же голос должен быть записан одним дублем.
        Исключение можно сделать, если, играя главный голос, Вы меняете инструмент и при этом необходимо регулировать уровень записи или
        возникают другие технические проблемы записи.</p>
    </li>

    <li>
      <h3>О взрослых любителях</h3>
      <p>Дети могут принять участие в фестивале, если они сами являются зарегистрированными пользователями сайта и
        готовы лично отсылать свои записи, принимать участие в обсуждении и голосовании. От родителей и учителей записи детей не принимаются.</p>
    </li>
  </ul>
</div>