<div class="wrapper">
  <div id="header-inner" class="top">
    <div id="logo-title">
      <div id="logo"><img src="assets/images/LogoUL.png"/></div>
    </div>
  </div>
        <ul class="navigation">
          <li><a routerLink="/welcome" routerLinkActive="active">Главная</a>
            <ul *ngIf="!isUsersAuthentificated()">
              <li><a routerLink="/login" routerLinkActive="active">Войти</a></li>
              <li><a routerLink="/registration" routerLinkActive="active">Регистрация</a></li>
            </ul>
            <ul *ngIf="isUsersAuthentificated()">
              <li><a (click)="doLogout(); $event.stopPropagation()" routerLinkActive="active">Выйти</a></li>
            </ul>
          </li>
          <li><a routerLink="/voteFree" routerLinkActive="active">Конкурсы</a></li>
          <li><a routerLink="/composition" routerLinkActive="active">Заявки на участие</a></li>
          <li><a routerLink="/newstatistic" routerLinkActive="active">Статистика</a>
            <ul>
              <li><a routerLink="/about" routerLinkActive="active">О сайте</a></li>
              <li><a routerLink="/about" routerLinkActive="active">Назначение сайта</a></li>
              <li><a routerLink="/rules" routerLinkActive="active">Правила</a></li>
              <li><a routerLink="/history" routerLinkActive="active">История создания</a></li>
              <li><a routerLink="/newstatistic" routerLinkActive="active">Статистика фестивалей</a></li>
              <li><a (click)="cleanCache(); $event.stopPropagation()" routerLinkActive="active">Очистить кэш</a></li>
              <!--<li><a routerLink="/blfRuRecords" routerLinkActive="active">Записи участников конкурсов blf.ru</a></li>-->
            </ul>
          </li>

          <div  class ="welcome" *ngIf="!isUsersAuthentificated()">
            <li><a routerLink="/login" routerLinkActive="active">Войти</a></li>
          </div>
          <div  class ="welcome" *ngIf="isUsersAuthentificated()">
            <li><a>Добро пожаловать, {{getUserName()}}</a>
              <ul>
                <li><a routerLink="/profile" routerLinkActive="active">Сменить имя и фотографию</a></li>
                <li><a routerLink="/changePassword" routerLinkActive="active">Сменить пароль</a></li>
                <li><a routerLink="/changeEmail" routerLinkActive="active">Сменить электронный адрес</a></li>
                <li><a (click)="doLogout(); $event.stopPropagation()">Выйти&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
              </ul>
            </li>
          </div>

          <div class="clear"></div>

        </ul>
    <div class="footer">
    <router-outlet></router-outlet>
    </div>
</div>
