<div>
  <h2>{{loginTitle}}</h2>
  <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
  <div class="form-group mediumWidth">
    <label for="userEmail">Адрес электронной почты или имя:</label>
    <input type="text" id="userEmail" class="form-control mediumWidth" required [(ngModel)]="loginData.email" name="userEmail"/>
  </div>
  <div class="form-group mediumWidth">
    <label for="userPassword">Пароль:</label>
    <input  type="password" id="userPassword" class="form-control mediumWidth" required [(ngModel)]="loginData.password" name="userPassword" (keydown)="onEnter($event)"/>
  </div>
  <button class="btn btn-primary active" (click)="doLogin(); $event.stopPropagation()">Войти</button>
  <br/>
  <br/>
  <p><a routerLink="/registration" routerLinkActive="active">Зарегистрироваться</a></p>
</div>
