<div (window:resize)="onResize($event)" style="margin-left:5%;width:85%; text-align: center">
  <button *ngIf="hasPrevious()" (click)="viewPreviousPage(); $event.stopPropagation()"><< Показать предыдущие отзывы {{getOpinionCount()}}&nbsp;&nbsp;&nbsp;</button>
  <button *ngIf="hasNext()" (click)="loadOpinionsFirstPage(); $event.stopPropagation()">&nbsp;&nbsp;&nbsp;Вернуться к последней странице >></button>
</div>
<div *ngFor="let item of votingThread.oi">
  <div style="width:85%; min-height: 200px; margin-left:5%">
    <hr  style="height: 12px;border: 0;box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);"/>
    <div class="header">
      <b>{{item.authorUsername}}</b>&nbsp;&nbsp;&nbsp;{{this.convertTimeToDate(item.creationDate)}}
    </div>
    <div class="body">
      <table>
        <tr><td style="text-align:center; vertical-align:top">
          <div style="display: inline-block; vertical-align: top; height:200px; width:200px; margin-right: 10px"><img  src="{{item.authorAvatar}}"/></div>
        </td>
          <td style="vertical-align:top">
            <div *ngIf="!isItemEditting(item)" style="display: inline-block; word-wrap: break-word" [innerHTML]="item.msgText"></div>
            <div *ngIf="isItemEditting(item)" style="overflow: scroll; height: 340px;">
              <textarea id="nickEditE" style="height: 300px" cols="80"></textarea>
            </div>
            <div style="display: inline-block" class="alert alert-danger" *ngIf="isItemEditting(item) && editErrorMsg">{{editErrorMsg}}</div>
          </td></tr>
      </table>
    </div>
    <div class="footer">
      <div *ngIf="isUpdated(item)" style="float: left">
        <small>Изменено:</small>&nbsp;{{this.convertTimeToDate(item.updateDate) }}
      </div>
      <div style="float: right">
        <button  *ngIf="canReply(item)" class="btn btn-xs"(click)="replyTo(item); $event.stopPropagation()">Ответить</button>
        <button  *ngIf="canEdit(item) && !isItemEditting(item)" class="btn btn-xs" (click)="editItem(item); $event.stopPropagation()">Редактировать</button>
        <button  *ngIf="canEdit(item) && isItemEditting(item)" class="btn btn-xs" (click)="updateItem(item); $event.stopPropagation()">Cохранить</button>
        <button *ngIf="canDelete(item) &&  !isItemEditting(item)" class="btn btn-xs" (click)="deleteItem(item); $event.stopPropagation()">Удалить</button>
        <button *ngIf="canEdit(item) && isItemEditting(item)" class="btn btn-xs" (click)="cancelEdit(); $event.stopPropagation()">Отменить</button>
      </div>
    </div>
    <hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));"/>
  </div>
</div>
<div  style="margin-left:5%;width:85%; text-align: center">
  <button *ngIf="hasPrevious()" (click)="viewPreviousPage(); $event.stopPropagation()"><< Показать предыдущие отзывы {{getOpinionCount()}}&nbsp;&nbsp;&nbsp;</button>
  <button *ngIf="hasNext()" (click)="loadOpinionsFirstPage(); $event.stopPropagation()">&nbsp;&nbsp;&nbsp;Вернуться к последней странице >></button>
</div>


<div *ngIf="isAutheticated()" [hidden]="(this.editItemId > -1)" style="margin-left:5%;width:85%">
  <table>
    <tr><td style="text-align:center; vertical-align:top">
      <div style="display: inline-block; vertical-align: top; height:200px; width:200px; margin-right: 10px"></div>
    </td>
      <td style="vertical-align:top">
        <h3>Добавить новое сообщение:</h3>
        <div id="editor" style="overflow-y: scroll; height: 350px;">
          <div style="display: inline-block" class="alert alert-danger" *ngIf="(this.editItemId == -1) && editErrorMsg">{{editErrorMsg}}</div>
          <textarea id="nickEdit" style="height: 300px;" cols="80"></textarea>
        </div>
        <button  class="[ btn btn-success active ]"  (click)="createItem(this.newOpinionItem); $event.stopPropagation()">Сохранить</button>
        <button  class="[ btn btn-success active ]"  (click)="cancelChanges(this.newOpinionItem); $event.stopPropagation()">Отменить</button>
      </td></tr>
  </table>
</div>