<div>
  <h3>История создания</h3>

  <p>Задолго до момента создания данного сайта, среди любителей игры на блокфлейтах
  возникла идея о том, что конкурсы и концерты можно организовывать в интернете через  аудио и видео записи.
  В течении шести лет идея была опробована в рамках стандартного форума <a href="http://www.blf.ru/forum">blf.ru</a>,
  первоначально посвященного обучению игре на блокфлейте.</p>

  <p>Хотя форум не был достаточно удобным для проведения конкурсов и концертов онлайн, тем не менее, за это время были отработаны
  <a href="/rules">правила проведения</a> и сформировался общий подход к таким мероприятиям.
  Создание отдельного сайта для проведения онлайн конкурсов и концертов позволило решить многие проблемы, труднорешаемые в рамках форума</p>


  <p>Сайт создан с использованием технологий Java и Angular, не только как площадка для
  проведения конкурсов и концертов через записи, но и как плацдарм для совершенствования в веб-программировании.
  Предполагается постоянное улучшение сайта. Один из основных аспектов улучшения - это минимизация трафика сайта путем проектирования такой системы,
  которая избегает пересылки  по сети одних и тех же данных без необходимости. Для кэширования  редкоизменяющихся данных на стороне клиента используются локальные хранилища  браузера.
  </p>

  <h3>Наш подход</h3>
  <ul>
    <li>
      <h4>Главное - общение!</h4>
      <p> Конкурсы  на данном сайте не являются серьезными музыкальными конкурсами.
        Участникам не выдаются какие-либо официальные документы об участии или о занятых в конкурсах местах.
        Отсутствуют какие-либо материальные поощрения участникам и не требуются взносы для участия.
        Несерьезность наших конкурсов, которая никак не делает мероприятия менее заманчивыми для увлеченных людей,
        подчеркнута тем, что награждение производится виртуальными лавровыми листочками, которые накапливаются с каждым участием и потом обмениваются на лавровые венки.
      </p>
    </li>
    <li>
      <h4>Серьезное ли жюри?</h4>
      <p>Нет! Жюри не серьезное и  Оценку исполнений могут производить как сами участники, так и другие любители музыки путем участия в голосовании.


      </p>
    </li>
  </ul>

  2)
  3) Отсутствует профессиональное жюри.
  Оценку исполнений могут производить как сами участники, так и другие любители музыки путем участия в голосовании.
  Однако не исключено, что Вашей игрой заинтересуется кто-то из профессиональных музыкантов или учителей музыки и оставит свой отзыв.

  4) Отсутствует предварительный отбор исполнений и записей по качеству. Участники должны сами понимать, на что они могут рассчитывать,
  с текущим уровнем мастерства и качеством получившихся записей. С записями участников с предыдущих конкурсов и концертов можно познакомиться здесь..
  Алгоритм подсчета результатов голосования построен так, что каждый участник получает как минимум по 1 лавровому листочку
  с каждого голосования за смелость и проделанную работу. Таким образом, Вы не останетесь без лавровых листочков.

</div>
