<competition-app></competition-app>
<br>
<p>Examples</p>
<ul>
  <li>Audio: https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F34019569&amp;auto_play=false&amp;show_artwork=false&amp;color=0066cc</li>
  <li>https://app.box.com/embed_widget/s/zz2ldzv6o3uwdkpk253me8d585n30ji4</li>
  <li>Видео: https://www.youtube.com/embed/hVARLQolFk0</li>
  <li>Vimeo ???</li>
  <li>Cloud.mail.ru ???</li>

</ul>
<br>
<admin-app></admin-app>
<discussion-thread-app></discussion-thread-app>