<div>
  <h4>Создание номера на конкурс</h4>
  <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
  <div  class="form-group mediumWidth">
    <label for="userId">Item id: {{item.id}} - Competition id: {{item.compId}}</label>
    <span><input type="text"  class="form-control" required [(ngModel)]="item.userId" id="userId"/> User id</span>
  </div>
  <div class="form-group">
    <label for="adUsers">Дополнительные участники</label>
    <input type="text"  class="form-control"  [(ngModel)]="item.adUsers" id="adUsers"/>
  </div>
  <div class="form-group">
    <label for="author">Композитор</label>
    <input type="text"  class="form-control"  [(ngModel)]="item.author" id="author"/>
  </div>
  <div class="form-group">
    <label for="instrmnts">Инструменты</label>
    <input type="instrmnts"  class="form-control" [(ngModel)]="item.instrmnts" id="instrmnts"/>
  </div>
  <div class="form-group">
    <label for="desc">Описание</label>
    <textarea cols="80" rows="5"  class="form-control"  [(ngModel)]="item.desc" id="desc"></textarea>
  </div>
  <div class="form-group">
    <label for="composition">Произведение</label>
    <input type="composition"  class="form-control"  [(ngModel)]="item.composition" id="composition"/>
  </div>

  <div class="form-group">
    <label for="audio">Аудио</label>
    <input type="text"  class="form-control"  [(ngModel)]="item.audio" id="audio"/>
  </div>
  <div class="form-group">
    <label for="embedAudio">Embed Аудио</label>
    <input type="test"  class="form-control"  [(ngModel)]="item.embedAudio" id="embedAudio"/>
  </div>
  <div class="form-group">
    <label for="video">Видео</label>
    <input type="text"  class="form-control"  [(ngModel)]="item.video" id="video"/>
  </div>
  <div class="form-group">
    <label for="embedVideo">Embed Видео</label>
    <input type="text"  class="form-control"  [(ngModel)]="item.embedVideo" id="embedVideo"/>
  </div>
  <button (click)="saveCompItem(); $event.stopPropagation();">Сохранить</button>
  <button (click)="deleteCompItem(); $event.stopPropagation();">Удалить</button>

  <p>Select user from the list</p>
  <ul class="voteItems">
    <li *ngFor="let member of this.competitionShortInfo.membersForShow" (click)="onSelect(member)"
        [class.selected]="isMemberSelected(member)">
      <span class="badge">{{member.mId}}</span>
      <span>{{member.compType}}</span>
      <span>{{member.mUsername}}</span>
      <span>{{member.threadId}}</span>
    </li>
  </ul>



  </div>