<script src="../PasswordConfirmValidator.ts"></script>
<div>
<h2>Регистрация</h2>
<div class="alert alert-danger" *ngIf="commonErrorMsg">{{commonErrorMsg}}</div>

  <form #regForm="ngForm">
  <div class="form-group">
    <label for="emailRD">Адрес электронной почты:</label>
    <input type="email"
           autocomplete="off"
           id="emailRD"
           name="emailRD"
           class="form-control"
           [(ngModel)]="registrationData.email"
           required email/>
    <small>
      Формат поля: <i>john@doe.com</i>.
    </small>
  </div>
  <div class="form-group">
    <label for="usernameRD">Введите имя или ник:</label>
    <input type="text"
           autocomplete="off"
           id="usernameRD"
           name="usernameRD"
           class="form-control"
           [(ngModel)]="registrationData.username"
           pattern="[^@]*"
           required/>
  </div>
  <div  class="form-group">
    <label for="passwordRD">Пароль:</label>
    <input type="password"
           autocomplete="off"
           id="passwordRD"
           name="passwordRD"
           class="form-control"
           [(ngModel)]="registrationData.password"
           required minlength="8"
            />
    <small>
      Пароль не менее 8 символов
    </small>
  </div>
  <div  class="form-group">
    <label for="passwordRD1">Подтверждение пароля:</label>
    <input type="password"
           autocomplete="off"
           id="passwordRD1"
           class="form-control"
           name="passwordRD1"
           required
           validateEqual="passwordRD"
           [(ngModel)]="passwordRD1"
           />
  </div>
  <div id="questionSection" class="regItems">
    <h3>Выберите только духовые музыкальные инструменты!</h3>
  <span  *ngFor="let answer of questionData.questionAnswers " (click)="onSelect(answer)"
      [class.selected]="selectedAnswers.has(answer)">
    <input type="image" name="pict" src="assets/images/first/{{answer}}.jpg"  alt="" vspace="20" hspace="20" width="160" height="160"/>
  </span>
    <div class="form-group">
      <button class="btn btn-primary" [disabled]="!regForm.valid" (click)="doReqistration(); $event.stopPropagation();">Зарегистрироваться</button>
    </div>
  </div>
  </form>
</div>

