<div class="alert alert-danger" style="width:450px" *ngIf="notSaved"><strong>&dArr; Результаты голосования не сохранены! &dArr;</strong></div>
<div style="margin-bottom: 20px;">
    <small *ngIf="this.showRedirectToLoginBtn()"><button class="btn btn-danger btn-sm active" (click)="goToLogin(); $event.stopPropagation()">{{getGoToLoginBtnTitle()}}</button></small>
    <small *ngIf="!isAuthentificated()&&!opinionsMode"><button class="btn btn-success btn-sm active" (click)="showToOpinionsAction(); $event.stopPropagation()">{{showToOpinionsTtl()}}</button></small>
    <small *ngIf="!isAuthentificated()&&opinionsMode"><button class="btn btn-success btn-sm active" (click)="opinionsMode = FALSE; $event.stopPropagation()">{{getBtnTitleGoToVoting()}}</button></small>

  <button *ngIf="this.showSaveVotingResultBtn()" class="[ btn btn-success active ]" [class.disabled]="!anySelected()" (click)="sendResult(); $event.stopPropagation()">Сохранить результаты голосования</button>
  <button *ngIf="isAuthentificated() && voteInfo.voted && !opinionsMode && isVotingStarted() && !isVotingEnded()" class="[ btn btn-danger active ]" (click)="deleteVoting(); $event.stopPropagation()">Изменить Ваш выбор</button>
    <button *ngIf="isAuthentificated()&&!opinionsMode" class="[ btn btn-success active ]" (click)="showToOpinionsAction(); $event.stopPropagation()">{{showToOpinionsTtl()}}</button>
    <button *ngIf="isAuthentificated()&&opinionsMode" class="[ btn btn-success active ]" (click)="opinionsMode = false; $event.stopPropagation()">{{getBtnTitleGoToVoting()}}</button>
    <button *ngIf="this.showShowVotingResultsBtn()" class="[ btn btn-success active ]" (click)="statisticMode = true; loadStatistic(); $event.stopPropagation()">&nbsp;Показать Результаты Голосования&nbsp;</button>
    <button *ngIf="isAuthentificated()&&!opinionsMode&&statisticMode" class="[ btn btn-success active ]" (click)="statisticMode = false; $event.stopPropagation()">&nbsp;Скрыть Результаты Голосования&nbsp;</button>
  <button *ngIf="isHistoryView()" class="[ btn btn-success active ]" (click)="goToStatistic(); $event.stopPropagation()">&nbsp;Вернуться к статистике&nbsp;</button>
  <div style="display: inline-block" class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
</div>
<vote-menu-app *ngIf="!opinionsMode && this.competitionShortInfo.compType > -1"></vote-menu-app>
<h4 *ngIf="this.showVotingInstructionTtl()">Возможно выбрать от одного до всех исполнений. Порядок выбора запоминается и учитывается при подсчете результатов. Голосование закончится {{convertTimeToDate(this.endDate)}}</h4>
<h4 *ngIf="this.showConcertInstructionTtl()">Участники записали свои любимые произведения для <b>Онлайн-Концерта {{convertTimeToDate(this.startDate)}}</b>. Подробные комментарии читайте в описании номеров, которое можно увидеть в всплывающем окне при нажатии мышкой на именах участников.</h4>
<h4 *ngIf="this.showVotingWillStartTtl()">Голосование начнется {{convertTimeToDate(this.startDate)}}</h4>
<h4 *ngIf="this.showConcertWillStartTtl()">Концерт  начнется {{convertTimeToDate(this.startDate)}}</h4>
<h4 *ngIf="this.showVotingCloseTtl()">Голосование закрыто, а обсуждение продолжается!</h4>
<span  *ngFor="let voteItem of this.getVoteDataArray()">
  <div class="voteItemBorder" [class.selected]="selectedItem.has(voteItem) && !statisticMode">
    <div class="voteItemHeader btn-group" >
        <a *ngIf="voteItem.order && !isAllSelected"  class="circleBtn">
          <span class="numberCircle" *ngIf="selectedItem.has(voteItem)" title="Порядок выбора"><b>{{voteItem.order}}</b></span>
        </a>
        <a title="Описание" class="[ btn ]" [class.linkselected]="selectedItem.has(voteItem) && !statisticMode" (click)="showDetails(voteItem); $event.stopPropagation();">
          <small>Музыкант{{getLastLetter(voteItem)}}:&nbsp;</small><b>{{voteItem.usernames.join(', ')}}</b>
        </a>
        <a style="float:right" class="[ btn ]"  [class.linkselected]="selectedItem.has(voteItem) && !statisticMode" *ngIf="voteItem.order && !voteInfo.voted"  (click)="onSelect(voteItem); $event.stopPropagation();">
          <span aria-hidden="true" title="Отменить">&#10006;</span>
        </a>
        <a style="float:right" *ngIf="this.showLikeHandBtn(voteItem)" class="[  img-rounded ]" (click)="onSelect(voteItem); $event.stopPropagation();">
          <img src="assets/images/Up.png" title="Понравилось" class="likeIcon"/>
        </a>
        <a style="float:right" *ngIf="showLikeNotAllowedBtn(voteItem)" class="circleBtn">
          <span aria-hidden="true" title="Вы участвуете в этом номере">&#9995;</span>
        </a>
    </div>
    <div *ngIf="statisticMode" style="width: 100%; height: 465px; overflow-y: auto;">
     <table style="width:100%">
     <thead>
     	<th>Голосующий</th>
     	<th>Выбор</th>
     	<th>Место</th>
     	<th>Листки</th>
     </thead>
     	<tr *ngFor="let voter of this.voteStatistic.voters">
	     	<td>{{this.loadUsername(voter.voterId)}}</td>
	     	<td>{{(this.placeFromUser(voteItem, voter) > 0) ? this.placeFromUser(voteItem, voter):"-"}}</td>
	     	<td>{{(this.placeForLeafsCount(voteItem, voter) > 0) ? this.placeForLeafsCount(voteItem, voter):"-"}}</td>
	     	<td>{{this.leafCount(voteItem, voter)}}</td>
     	</tr>
     	<tr>
     		<td colspan="3"><strong>Итого лавровых листочков:</strong></td><td>{{this.allLeafCount(voteItem)}}</td>
     	</tr>
     </table>
    </div>

    <div *ngIf="voteItem.videoEmbedUrl && !statisticMode" class="videoDiv">
      <iframe width="370" height="300"
          [src]="voteItem.videoEmbedUrl | safe"
          allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
      </iframe>
    </div>
    <div  *ngIf="!voteItem.videoEmbedUrl && voteItem.videoUrl && !statisticMode" class="videoDiv">
      <small>Видео доступно для просмотра в <a href="{{voteItem.videoUrl}}" [class.linkselected]="selectedItem.has(voteItem)" target="_blank">новом окне</a></small>
      <span  *ngFor="let userId of voteItem.userIds">
        <a href="{{voteItem.videoUrl}}" target="_blank">
          <img class="avatarInsteadVideo" *ngIf="loadUserAvatar(userId)" [src]="loadUserAvatar(userId)" title="Посмотреть видео в новом окне"/>
        </a>
        <br/>
      </span>
    </div>
    <div  *ngIf="!voteItem.videoEmbedUrl && !voteItem.videoUrl  && !statisticMode" class="videoDiv">
      <span  *ngFor="let userId of voteItem.userIds">
        <img  class="avatarInsteadVideo" *ngIf="loadUserAvatar(userId)" [src]="loadUserAvatar(userId)" title="Видео отсутствует"/>
        <br/>
      </span>
    </div>
    <div *ngIf="voteItem.audioEmbedUrl  && !statisticMode" class="audioDiv">
      <small>Послушать запись в <a href="{{voteItem.audioUrl}}" target="_blank" [class.linkselected]="selectedItem.has(voteItem)">новом окне</a></small>
      <iframe width="358" height="134"
              [src]="voteItem.audioEmbedUrl | safe"
              frameborder="0">
      </iframe>
      <div style="z-index: 1; height: 12px; width: 357.5px; background: #EEE; position: relative; top: -18px; left:6px;"></div>
    </div>
    <div *ngIf="!voteItem.audioEmbedUrl && voteItem.audioUrl && !statisticMode" class="audioDiv">
      <small>Запись доступна для прослушивания в <a href="{{voteItem.audioUrl}}" target="_blank" [class.linkselected]="selectedItem.has(voteItem)">новом окне</a></small>
      <iframe width="358" height="134" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" hspace="0" vspace="0"
              srcdoc="<a href='{{voteItem.audioUrl}}' target='_blank'><img  src='assets/images/AudioDefault.jpg'   title='Послушать запись в новом окне'/></a>">
      </iframe>
    </div>
 </div>
</span>
<opinions-app *ngIf="opinionsMode"></opinions-app>
<itemdetails-modal-component></itemdetails-modal-component>




