<vote-menu-app></vote-menu-app>
<h2>Голосование начнется с {{this.voteInfo.competitionData.start | date: 'shortDate'}} и продлится до {{this.voteInfo.competitionData.end | date: 'shortDate'}}</h2>
<h3>Сейчас проводится тестовое голосование. Пожалуйста, оцените, насколько оно удобно.</h3>
<small>После окончания тестирования, тестовые пользователи и тестовые результаты голосования будут удалены</small>
<p>Вы можете выбрать от одного до всех исполнений. Наиболее понравившееся исполнение выбирается первым, следующиее вторым и так далее.
  Порядок выбора учитывается  при подсчете результатов (за исключением случая, когда Вы выбираете все исполнения).
</p>
<small *ngIf="!isAuthentificated()"><button class="btn btn-warning btn-sm active" (click)="goToLogin(); $event.stopPropagation()">Для сохранения результатов голосования необходимо зайти на сайт</button></small>
<div style="margin-bottom: 20px;">
<button class="[ btn btn-success active ]" [class.disabled]="!anySelected()" (click)="sendResult(); $event.stopPropagation()" *ngIf="isAuthentificated() && !voteInfo.voted">Сохранить результаты голосования</button>
<button class="[ btn btn-danger active ]" (click)="deleteVoting(); $event.stopPropagation()" *ngIf="isAuthentificated() && voteInfo.voted">Изменить Ваш выбор</button>
<div style="display: inline-block" class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
</div>
<span  *ngFor="let voteItem of voteInfo.voteData">
  <div style="display: inline-block; margin-bottom: 20px" [class.selected]="selectedItem.has(voteItem)">
    <div class="[ form-group ]">
      <div class="[ btn-group ]" style="float:right; width:370px">
        <label *ngIf="voteItem.order && !isAllSelected"  class="[ btn btn-default ]">
          <span *ngIf="selectedItem.has(voteItem)"><b>{{voteItem.order}}</b>
          </span>
          <span> </span>
        </label>
        <label *ngIf="!voteItem.order && !voteInfo.voted && !isUserPartake(voteItem)" class="[ btn btn-default active ]" (click)="onSelect(voteItem); $event.stopPropagation();">
          Выбрать
        </label>
        <label alt="Подробности и ссылки" class="[ btn ]" (click)="showDetails(voteItem); $event.stopPropagation();">
          <b>{{voteItem.usernames.join(', ')}}</b>
        </label>
        <label style="float:right" class="[ btn ]"  *ngIf="voteItem.order && !voteInfo.voted"  (click)="onSelect(voteItem); $event.stopPropagation();">
          <span aria-hidden="true">&#10006;</span>
        </label>
      </div>
    </div>
    <div  *ngIf="voteItem.videoEmbedUrl">
      <iframe width="370" height="300"
          [src]="voteItem.videoEmbedUrl | safe"
          allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
      </iframe>
    </div>
    <div *ngIf="voteItem.videoEmbedUrl">
      <iframe width="370" height="160"
              [src]="voteItem.audioEmbedUrl | safe"
              frameborder="0">
      </iframe>
    </div>
  </div>
</span>
<itemdetails-modal-component></itemdetails-modal-component>




