<ol class="discussionListItems">
    <li id="thread-23274" class="discussionListItem  visible sticky  " data-author="xoid">
        <div class="listBlock posterAvatar">
		<span class="avatarContainer">
			<a href="members/xoid.9/" class="avatar Av9s" data-avatarhtml="true"><img src="data/avatars/s/0/9.jpg?1425480308" width="48" height="48" alt="xoid"></a>

		</span>
        </div>
        <div class="listBlock main">
            <div class="titleText">
                <div class="iconKey">
                    <span class="sticky" title="Важно">Важно</span>
                </div>
                <h3 class="title">
                    <a href="threads/poslednij-privet-zhurnalistam.23274/" title="" class="PreviewTooltip" data-previewurl="threads/poslednij-privet-zhurnalistam.23274/preview">Последний привет журналистам.</a>
                </h3>

                <div class="secondRow">
                    <div class="posterDate muted">
                        <a href="members/xoid.9/" class="username" dir="auto" title="Автор темы">xoid</a><span class="startDate">,
					<a class="faint"><span class="DateTime" title="">15 июн 2009</span></a></span>
                        <span class="itemPageNav">
							<span>...</span>

								<a href="threads/poslednij-privet-zhurnalistam.23274/page-94">94</a>

								<a href="threads/poslednij-privet-zhurnalistam.23274/page-95">95</a>

								<a href="threads/poslednij-privet-zhurnalistam.23274/page-96">96</a>

						</span>

                    </div>

                    <div class="controls faint">


                    </div>
                </div>
            </div>
        </div>

        <div class="listBlock stats pairsJustified" title="Пользователи, которым нравится первое сообщение: 23">
            <dl class="major"><dt>Ответов:</dt> <dd>1.908</dd></dl>
            <dl class="minor"><dt>Просмотров:</dt> <dd>460.617</dd></dl>
        </div>

        <div class="listBlock lastPost">

            <dl class="lastPostInfo">



                <a href="members/andrej_pax.29819/" class="avatar Av29819s" data-avatarhtml="true"><img src="data/avatars/s/29/29819.jpg?1469778060" width="48" height="48" alt="Андрей_PAX"></a>



                <dt><a href="members/andrej_pax.29819/" class="username" dir="auto">Андрей_PAX</a></dt>
                <dd class="muted"><a class="dateTime"><abbr class="DateTime" data-time="1495429893" data-diff="37370" data-datestring="22 май 2017" data-timestring="08:11" title="22 май 2017 в 08:11">Сегодня, в 08:11</abbr></a></dd>
            </dl>

        </div>
    </li>
</ol>