<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->

<head>
    <title>Title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/forum.css"/>
    <link rel="stylesheet" href="css/welcome.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function startCloudMailAudio(id) {
            $(id).attr('src', "https://cloclo42.datacloudmail.ru/weblink/view/73YC/MoMWRRjza?key=77fb2ed44aabd012b8b433252f25cb6d08c7d8e4");
        }
    </script>
</head>
<body>
<header>
    <div id="mainpageheader">
        <div>
            <div class="mainPageWidth">
                <div class="pageContent">


                    <div id="logo"><a href="https://aviaforum.ru/">
                        <span></span>
                        <img src="imgs/WindInstr-50px.png" alt="Форум духовых инструментов"/>
                    </a></div>

                    <span class="helper"></span>
                </div>
            </div>
        </div>


        <div id="navigation" class="mainPageWidth ">
            <div class="pageContent">
                <nav>

                    <div class="navTabs">
                        <ul class="publicTabs">
                            <li class="navTab forums selected">

                                <a href="/" class="navLink">Форум духовых инструментов</a>
                                <a href="https://aviaforum.ru/" class="SplitCtrl" rel="Menu"></a>

                                <div class="tabLinks forumsTabLinks">
                                    <div class="primaryContent menuHeader">
                                        <h3>Форум духовых инструментов</h3>
                                    </div>
                                </div>
                            </li>

                            <li class="navTab members Popup PopupControl PopupClosed PopupContainerControl">
                                <a href="/settings" class="navLink">Личный кабинет</a>
                            </li>
                        </ul>
                    </div>
                    <span class="helper"></span>
                </nav>
            </div>
        </div>
    </div>

</header>
<div id="headerMover1">
    <div id="content" class="forum_list">
        <div class="mainPageWidth">
            <div class="pageContent">
                <div class="mainContainer">
                    <div>
                        <ol class="nodeList sectionMain" id="forums">
                            <li class="node category level_1 node_3" id="osnovnye-forumy.3">

                                <div class="nodeInfo categoryNodeInfo categoryStrip">
                                    <div class="categoryText">
                                        <h3 class="nodeTitle"><a href="/toForum">Общение о духовых инструментах</a></h3>
                                    </div>
                                </div>
                                <div class="discussionList section sectionMain">
                                <dl class="sectionHeaders">
                                    <dt class="posterAvatar"><a><span></span></a></dt>
                                    <dd class="main">
                                        <a class="title"><span>Заголовок</span></a>
                                    </dd>
                                    <dd class="stats">
                                        <a><span>Статистика</span></a>
                                    </dd>
                                    <dd class="lastPost"><a><span>Последнее сообщение</span></a></dd>
                                </dl>
                                <ol class="discussionListItems">
                                    <li id="thread-23274" class="discussionListItem  visible sticky  " data-author="xoid">
                                        <div class="listBlock posterAvatar">
		                                    <span class="avatarContainer">
			                                    <a href="" class="avatar Av9s" data-avatarhtml="true"><img src="css/img/kuk.jpg" width="48" height="48" alt="xoid"/></a>
		                                    </span>
                                        </div>
                                        <div class="listBlock main">
                                            <div class="titleText">
                                                <h3 class="title">
                                                    <a href="" title="">Обсуждаем тему один</a>
                                                </h3>

                                                <div class="secondRow">
                                                   <div class="posterDate muted">
                                                        <a href="members/xoid.9/" class="username" dir="auto" title="Автор темы">aaa</a>
                                                       <span class="startDate">,<a class="faint"><span class="DateTime" title="">15 июн 2009</span></a></span>
                                                        <span class="itemPageNav">
							                            <span>...</span>
                                                            <a href="page-7">7</a>
								                            <a href="page-8">8</a>
                                                            <a href="page-9">9</a>
						                                </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="listBlock stats pairsJustified" title="">
                                            <dl class="major"><dt>Ответов:</dt> <dd>1.908</dd></dl>
                                            <dl class="minor"><dt>Просмотров:</dt> <dd>460.617</dd></dl>
                                        </div>

                                        <div class="listBlock lastPost">
                                            <dl class="lastPostInfo">
                                                <a href="" class="avatar Av29819s" data-avatarhtml="true"><img src="css/img/kuk.jpg" width="48" height="48" alt="Андрей"/></a>
                                                <dt><a href="" class="username" dir="auto">Андрей</a></dt>
                                                <dd class="muted"><a class="dateTime"><abbr class="DateTime" data-time="1495429893" data-diff="37370" data-datestring="22 май 2017" data-timestring="08:11" title="22 май 2017 в 08:11">Сегодня, в 08:11</abbr></a></dd>
                                            </dl>
                                        </div>
                                    </li>
                                    <li id="thread-23275" class="discussionListItem  visible sticky  " data-author="xoid">
                                        <div class="listBlock posterAvatar">
		                                    <span class="avatarContainer">
			                                    <a href="" class="avatar Av9s" data-avatarhtml="true"><img src="css/img/kuk.jpg" width="48" height="48" alt="xoid"/></a>
		                                    </span>
                                        </div>
                                        <div class="listBlock main">
                                            <div class="titleText">
                                                <h3 class="title">
                                                    <a href="" title="">Обсуждаем тему два</a>
                                                </h3>

                                                <div class="secondRow">
                                                    <div class="posterDate muted">
                                                        <a href="members/xoid.9/" class="username" dir="auto" title="Автор темы">Bbb</a>
                                                        <span class="startDate">,<a class="faint"><span class="DateTime" title="">15 июн 2009</span></a></span>
                                                        <span class="itemPageNav">
							                            <span>...</span>
                                                            <a href="page-7">7</a>
								                            <a href="page-8">8</a>
                                                            <a href="page-9">9</a>
						                                </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="listBlock stats pairsJustified" title="">
                                            <dl class="major"><dt>Ответов:</dt> <dd>10</dd></dl>
                                            <dl class="minor"><dt>Просмотров:</dt> <dd>15</dd></dl>
                                        </div>

                                        <div class="listBlock lastPost">
                                            <dl class="lastPostInfo">
                                                <a href="" class="avatar Av29819s" data-avatarhtml="true"><img src="css/img/kuk.jpg" width="48" height="48" alt="Ольга Воскресенская"/></a>
                                                <dt><a href="" class="username" dir="auto">Ольга Воскресенская</a></dt>
                                                <dd class="muted"><a class="dateTime"><abbr class="DateTime" data-time="1495429893" data-diff="37370" data-datestring="22 май 2017" data-timestring="08:11" title="22 май 2017 в 08:11">Сегодня, в 08:11</abbr></a></dd>
                                            </dl>
                                        </div>
                                    </li>
                                    <li id="thread-23276" class="discussionListItem  visible sticky  " data-author="xoid">
                                        <div class="listBlock posterAvatar">
		                                    <span class="avatarContainer">
			                                    <a href="" class="avatar Av9s" data-avatarhtml="true"><img src="css/img/kuk.jpg" width="48" height="48" alt="xoid"/></a>
		                                    </span>
                                        </div>
                                        <div class="listBlock main">
                                            <div class="titleText">
                                                <h3 class="title">
                                                    <a href="" title="">Обсуждаем тему три</a>
                                                </h3>

                                                <div class="secondRow">
                                                    <div class="posterDate muted">
                                                        <a href="members/xoid.9/" class="username" dir="auto" title="Автор темы">aaa</a>
                                                        <span class="startDate">,<a class="faint"><span class="DateTime" title="">15 июн 2009</span></a></span>
                                                        <span class="itemPageNav">
							                            <span>...</span>
                                                            <a href="page-7">7</a>
								                            <a href="page-8">8</a>
                                                            <a href="page-9">9</a>
						                                </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="listBlock stats pairsJustified" title="">
                                            <dl class="major"><dt>Ответов:</dt> <dd>1.908</dd></dl>
                                            <dl class="minor"><dt>Просмотров:</dt> <dd>460.617</dd></dl>
                                        </div>

                                        <div class="listBlock lastPost">
                                            <dl class="lastPostInfo">
                                                <a href="" class="avatar Av29819s" data-avatarhtml="true"><img src="css/img/kuk.jpg" width="48" height="48" alt="Николай Барабанщиков"/></a>
                                                <dt><a href="" class="username" dir="auto">Николай Барабанщиков</a></dt>
                                                <dd class="muted"><a class="dateTime"><abbr class="DateTime" data-time="1495429893" data-diff="37370" data-datestring="22 май 2017" data-timestring="08:11" title="22 май 2017 в 08:11">Сегодня, в 08:11</abbr></a></dd>
                                            </dl>
                                        </div>
                                    </li>
                                    <li id="thread-23277" class="discussionListItem  visible sticky  " data-author="xoid">
                                        <div class="listBlock posterAvatar">
		                                    <span class="avatarContainer">
			                                    <a href="" class="avatar Av9s" data-avatarhtml="true"><img src="css/img/kuk.jpg" width="48" height="48" alt="xoid"/></a>
		                                    </span>
                                        </div>
                                        <div class="listBlock main">
                                            <div class="titleText">
                                                <h3 class="title">
                                                    <a href="" title="">Обсуждаем тему один</a>
                                                </h3>

                                                <div class="secondRow">
                                                    <div class="posterDate muted">
                                                        <a href="members/xoid.9/" class="username" dir="auto" title="Автор темы">aaa</a>
                                                        <span class="startDate">,<a class="faint"><span class="DateTime" title="">15 июн 2009</span></a></span>
                                                        <span class="itemPageNav">
							                            <span>...</span>
                                                            <a href="page-7">7</a>
								                            <a href="page-8">8</a>
                                                            <a href="page-9">9</a>
						                                </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="listBlock stats pairsJustified" title="">
                                            <dl class="major"><dt>Ответов:</dt> <dd>1.908</dd></dl>
                                            <dl class="minor"><dt>Просмотров:</dt> <dd>460.617</dd></dl>
                                        </div>

                                        <div class="listBlock lastPost">
                                            <dl class="lastPostInfo">
                                                <a href="" class="avatar Av29819s" data-avatarhtml="true"><img src="css/img/kuk.jpg" width="48" height="48" alt="Андрей"/></a>
                                                <dt><a href="" class="username" dir="auto">Андрей</a></dt>
                                                <dd class="muted"><a class="dateTime"><abbr class="DateTime" data-time="1495429893" data-diff="37370" data-datestring="22 май 2017" data-timestring="08:11" title="22 май 2017 в 08:11">Сегодня, в 08:11</abbr></a></dd>
                                            </dl>
                                        </div>
                                    </li>
                                    <li id="thread-23278" class="discussionListItem  visible sticky  " data-author="xoid">
                                        <div class="listBlock posterAvatar">
		                                    <span class="avatarContainer">
			                                    <a href="" class="avatar Av9s" data-avatarhtml="true"><img src="css/img/kuk.jpg" width="48" height="48" alt="xoid"/></a>
		                                    </span>
                                        </div>
                                        <div class="listBlock main">
                                            <div class="titleText">
                                                <h3 class="title">
                                                    <a href="" title="">Обсуждаем тему один</a>
                                                </h3>

                                                <div class="secondRow">
                                                    <div class="posterDate muted">
                                                        <a href="members/xoid.9/" class="username" dir="auto" title="Автор темы">aaa</a>
                                                        <span class="startDate">,<a class="faint"><span class="DateTime" title="">15 июн 2009</span></a></span>
                                                        <span class="itemPageNav">
							                            <span>...</span>
                                                            <a href="page-7">3</a>
								                            <a href="page-8">4</a>
                                                            <a href="page-9">5</a>
						                                </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="listBlock stats pairsJustified" title="">
                                            <dl class="major"><dt>Ответов:</dt> <dd>1.908</dd></dl>
                                            <dl class="minor"><dt>Просмотров:</dt> <dd>460.617</dd></dl>
                                        </div>

                                        <div class="listBlock lastPost">
                                            <dl class="lastPostInfo">
                                                <a href="" class="avatar Av29819s" data-avatarhtml="true"><img src="css/img/kuk.jpg" width="48" height="48" alt="Андрей"/></a>
                                                <dt><a href="" class="username" dir="auto">Андрей</a></dt>
                                                <dd class="muted"><a class="dateTime"><abbr class="DateTime" data-time="1495429893" data-diff="37370" data-datestring="22 май 2017" data-timestring="08:11" title="22 май 2017 в 08:11">Сегодня, в 08:11</abbr></a></dd>
                                            </dl>
                                        </div>
                                    </li>
                                </ol>
                                </div>
                            </li>


                            <li class="node category level_1 node_48" id="aviapassazhiram.48">

                                <div class="nodeInfo categoryNodeInfo categoryStrip">
                                    <div class="categoryText">
                                        <h3 class="nodeTitle"><a href="#aviapassazhiram.48">Музыкальные конкурсы</a></h3>
                                    </div>
                                </div>
                                <div class="discussionList section sectionMain">
                                    <dl class="sectionHeaders">
                                        <dt class="posterAvatar"><a><span></span></a></dt>
                                        <dd class="main">
                                            <a class="title"><span></span></a>
                                        </dd>
                                        <dd class="stats">
                                            <a><span>Сроки сдачи</span></a>
                                        </dd>
                                        <dd class="lastPost"><a><span>Последняя заявка от</span></a></dd>
                                    </dl>
                                    <ol class="discussionListItems">
                                        <li class="discussionListItem  visible sticky  " data-author="xoid">
                                            <div class="listBlock conkursImage">
		                                    <span class="avatarContainer">
			                                    <a href="" class="avatar Av9s" data-avatarhtml="true"><img src="css/img/wind.jpg" width="92" height="92" alt="xoid"/></a>
		                                    </span>
                                            </div>
                                            <div class="listBlock main">
                                                <div class="titleText">
                                                    <h3 class="title">
                                                        <a href="/edit" title="">Прием фестивальных записей</a>
                                                    </h3>

                                                    <div class="secondRow">
                                                        <div class="posterDate muted">
                                                            <a href="members/xoid.9/" class="username" dir="auto" title="Автор темы">Николай Барабанщиков</a>
                                                            <span class="itemPageNav">
                                                                <span>...</span>
                                                                <a href="page-7">7</a>
                                                                <a href="page-8">8</a>
                                                                <a href="page-9">9</a>
						                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="listBlock stats pairsJustified" title="">
                                                <dl class="minor"><dt>Обязательная программа:</dt> <dd>15 октября 2017</dd></dl>
                                                <dl class="minor"><dt>Свободная программа:</dt> <dd>22 октября 2017</dd></dl>
                                            </div>

                                            <div class="listBlock lastPost">
                                                <dl class="lastPostInfo">
                                                    <a href="" class="avatar Av29819s" data-avatarhtml="true"><img src="css/img/kuk.jpg" width="48" height="48" alt="Андрей"/></a>
                                                    <dt><a href="" class="username" dir="auto">Андрей</a></dt>
                                                    <dd class="muted"><a class="dateTime"><abbr class="DateTime" data-time="1495429893" data-diff="37370" data-datestring="22 май 2017" data-timestring="08:11" title="22 май 2017 в 08:11">Сегодня, в 08:11</abbr></a></dd>
                                                </dl>
                                            </div>
                                        </li>

                                    </ol>
                                </div>

                            </li>


                            <li class="node category level_1 node_4" id="dopolnitelnye-forumy.4">

                                <div class="nodeInfo categoryNodeInfo categoryStrip">

                                    <div class="categoryText">
                                        <h3 class="nodeTitle"><a href="#dopolnitelnye-forumy.4">Голосование по конкурсу</a></h3>

                                    </div>

                                </div>
                                <div>Выберите исполнения, которые Вам больше нравятся. Можно выбрать от одного до всех исполнений</div>
                                <table>
                                    <tr>
                                        <td>
                                            <div>
                                                <div class="[ form-group ]">
                                                    <input type="checkbox" name="fancy-checkbox-default-1" id="fancy-checkbox-default-1" autocomplete="off" />
                                                    <div class="[ btn-group ]">
                                                        <label for="fancy-checkbox-default-1" class="[ btn btn-default ]">
                                                            <span class="[ glyphicon glyphicon-ok ]"></span>
                                                            <span> </span>
                                                        </label>
                                                        <label for="fancy-checkbox-default-1" class="[ btn btn-default active ]">
                                                            1. Lenka Molcanyiova
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <iframe width="420" height="315"
                                                         src="https://www.youtube.com/embed/hVARLQolFk0"
                                                         allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
                                                    </iframe>
                                                </div>
                                                <div>
                                                    <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F34019569&amp;auto_play=false&amp;show_artwork=false&amp;color=0066cc"></iframe>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div class="[ form-group ]">
                                                    <input type="checkbox" name="fancy-checkbox-default" id="fancy-checkbox-default-2" autocomplete="off" />
                                                    <div class="[ btn-group ]">
                                                        <label for="fancy-checkbox-default-2" class="[ btn btn-default ]">
                                                            <span class="[ glyphicon glyphicon-ok ]"></span>
                                                            <span> </span>
                                                        </label>
                                                        <label for="fancy-checkbox-default-2" class="[ btn btn-default active ]">
                                                            2. Falando de Flauta
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <iframe width="420" height="315"
                                                            src="https://www.youtube.com/embed/F4nZFOti4_Q"
                                                            allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
                                                    </iframe>
                                                </div>
                                                <div class="audioExpender">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div class="[ form-group ]">
                                                    <input type="checkbox" name="fancy-checkbox-default" id="fancy-checkbox-default-3" autocomplete="off" />
                                                    <div class="[ btn-group ]">
                                                        <label for="fancy-checkbox-default-3" class="[ btn btn-default ]">
                                                            <span class="[ glyphicon glyphicon-ok ]"></span>
                                                            <span> </span>
                                                        </label>
                                                        <label for="fancy-checkbox-default-3" class="[ btn btn-default active ]">
                                                            3. Sarigsela
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div>
                                                        <iframe width="420" height="315"
                                                                src="https://www.youtube.com/embed/-ITsk_yvIv4"
                                                                allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
                                                        </iframe>
                                                    </div>
                                                    <div>
                                                        <iframe width="100%" height="100"
                                                                src="https://app.box.com/embed_widget/s/zz2ldzv6o3uwdkpk253me8d585n30ji4"
                                                                frameborder="0">
                                                        </iframe>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div>
                                                <div class="[ form-group ]">
                                                    <input type="checkbox" name="fancy-checkbox-default" id="fancy-checkbox-default-4" autocomplete="off" />
                                                    <div class="[ btn-group ]">
                                                        <label for="fancy-checkbox-default-4" class="[ btn btn-default ]">
                                                            <span class="[ glyphicon glyphicon-ok ]"></span>
                                                            <span> </span>
                                                        </label>
                                                        <label for="fancy-checkbox-default-4" class="[ btn btn-default active ]">
                                                            4. Falando de Flauta
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <iframe
                                                            width="420" height="315"
                                                            src="http://vk-cache.co/player/index.php?https%3A%2F%2Fcloud.mail.ru%2Fpublic%2FKtSg%2FuLFQwEaRW"
                                                            frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
                                                    </iframe>
                                                </div>
                                                <div>
                                                    <input type="button" onclick="startCloudMailAudio('#audio-4');" value="start"/>
                                                    <iframe id="audio-4"
                                                            width="420" height="100"
                                                            src=""
                                                            frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
                                                    </iframe>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </li>

                        </ol>


                        <div class="pageNavLinkGroup">
                            <div class="linkGroup" style="display: none;"><a href="javascript:" class="muted JsOnly DisplayIgnoredContent Tooltip" title="">Показать игнорируемое содержимое</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer>
    <div class="footer">
        <div class="mainPageWidth">
            <div class="pageContent">
                <ul class="footerLinks">
                    <li><a href="help/">Помощь</a></li>
                    <li><a href="rules">Правила</a></li>
                    <li><a th:href="@{/forumlogin}">Войти</a></li>
                    <li><a th:href="@{/logout}">Выйти</a></li>

                </ul>
                <span class="helper"></span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>