<div>
  <h3>Сайт посвящен обучению игре на различных духовых инструментах.</h3>
  <p> Известно, что самостоятельное обучение на музыкальных инструментах, в отличии от обучения в музыкальной школе,
    затруднено прежде всего отсутствием постоянной мотивации и контроля со стороны учителя.
    В музыкальных школах проводятся экзамены и концерты, где ученики показывают свои достижения и слушают игру своих товарищей.
    Только одной эмоциональной реакцией на игру, учащиеся уже дают оценку работам друг друга.
    В то же время люди, обучающиеся самостоятельно, пусть даже с консультациями у частного учителя,
    как правило, лишены этой важной составляющей в обучении - возможности показать свои достижения другим людям с такими же интересами
    и узнать их отзыв.</p>

  <p>Задача сайта: предоставилять возможность музыкантам-любителям на духовых музыкальных инструментах выкладывать свои аудио и видео записи для показа и обсуждения в формате онлайн конкурсов и концертов.</p>

  <h3>Календарь музыкальных событий нашего сайта</h3>
  <img src="../../assets/images/CalendarEvents.jpg"/>

  <p>Онлайн фестиваль - это конкурс, который проводится два раза в год весной и осенью. Состоит из обязательной и свободной программы.
    В обязательной программе участники играют одно из заданных произведений. Обязятельные произведения подбираются организатором конкурса в двух стилях: классика и джаз.
    Участникам необходимо выбрать одно из двух обязательных произведений, сделать запись или видео своей игры, выложить файл с записью в какой-либо файлообменник (www.box.com, cloud.mail.ru)
    и прислать ссылку на записи в разделе заявок на участие.
    В свободной программе можно записать одно произведение по своему выбору.
    На сайте организовано голосование, в котором могут принять участие зарегистрированные пользователи сайта, и есть также возможность оставить отзыв об игре участников конкурса.
  </p>
  <p>Онлайн концерт -  </p>

  <p>Конкурс композиторов - </p>

  <p>Внимание! Сроки сдачи записей, указанные в календаре, могут  быть немного сдвинуты вперед. Также между сроком сдачи обязательной и свободной программы фестивалей есть промежуток в 2 недели</p>
</div>
