<h2>Редактирование профайла</h2>
<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
<div class="regItems">
  <form #profileForm="ngForm">
    <div class="form-group">
      <label for="usernameRD">Ваше имя:</label>
      <input type="text" id="usernameRD" class="form-control"  [(ngModel)]="userData.username" name="usernameRD" pattern="[^@]*" required/>
    </div>
    <div class="form-group">
        <label for="imagePath">Загрузить новую фотографию:</label>
        <input type="file" #imagePath id="imagePath" class="form-control" (change)="fileChangeEvent($event, userData, imagePreview)" name="imagePath"/>
    </div>
    <div class="form-group">
     &nbsp;&nbsp;<img  #imagePreview src="{{userData.previewImage}}"/>
    </div>
      &nbsp;&nbsp;<button class="btn btn-primary" *ngIf="userData.previewImage"(click)="deleteProfileImage(profileForm)">Удалить фотографию</button>
    <br/>
    <br/>
    <button class="btn btn-primary" [disabled]="!profileForm.valid" (click)="saveProfile(profileForm); $event.stopPropagation()">Сохранить профайл</button>
    <button class="btn btn-primary" (click)="loadProfile(profileForm); $event.stopPropagation()">Сбросить изменения</button>
  </form>
  <div>
    <span><a routerLink="/registration" routerLinkActive="active">Зарегистрироваться</a>&nbsp;&nbsp;</span>
    <span><a routerLink="/changePassword" routerLinkActive="active">Сменить пароль</a>&nbsp;&nbsp;</span>
    <span><a routerLink="/changeEmail" routerLinkActive="active">Сменить электронный адрес</a></span>
  </div>
</div>




