<app-modal>
  <div class="app-modal-header">
    <div style="display: inline-block"><h4>{{modalName}}</h4></div>
  </div>
  <div class="app-modal-body">
    <div class="form-group">
      <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
      <label>{{whatToDo}}</label>
      <div [froalaEditor]="froalaOptions"  [(froalaModel)]="model.msgText"></div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button (click)="saveItem(); $event.stopPropagation()">Сохранить</button>
    <button type="button" class="btn btn-default" (click)="modal.hide()">Закрыть</button>
  </div>
</app-modal>
