.modal {
  background: rgba(0,0,0,0.6);
}

.detailsspan {
  display: inline-block;
  width:110px;
  font-weight: bold;
}

.detaildiv {
  text-align:justify;
  padding:5px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;    
  margin-bottom:10px;
}

.detailsavatar {
  display: inline-block;
  vertical-align: top;
  height:200px;
  width:200px;
  margin-left: 10px;
  margin-bottom: 30px;
}
