<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
<h3 *ngIf="isBaroque()">Обязательная классическая программа</h3>
<h3 *ngIf="isJazz()">Обязательная джазовая программа</h3>
<h3 *ngIf="isFree()">Обязательная свободная программа</h3>
<h3 *ngIf="isComposition()">Конкурс композиторов</h3>

<p>Срок сдачи записей и начало голосования: {{competitionData.start | date: 'dd-MM-yyyy'}}</p>
<p>Окончание голосования: {{competitionData.end |  date: 'dd-MM-yyyy'}}</p>
<h4>Задание</h4>


<div style="display: inline-block" >
  <iframe #embeddedVideo width="420" height="315" src allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
</div>
<div [innerHTML]="competitionData.description" style="width:40%;display: inline-block" ></div>
<div>Участники:
  <div style="display: inline-block" *ngFor="let member of membersForShow">
    {{member.mUsername}}&nbsp;
  </div>
  <span><button (click)="reloadMembers(); $event.stopPropagation()">Reload</button></span>
</div>


