<h2>Paticipate </h2>
<p>Errors: {{errorMsg}}</p>
<span>You are logoned as {{authInfo.username}}</span>

<ul>
  <li *ngFor="let competition  of activeCompetitions.activeList" >
    <!--<div [innerHTML]="competition.description"></div>-->
    <span>Id: {{competition.id}}</span>
    <span>Name: {{competition.name}}</span>
    <span>Desc: {{competition.description}}</span>
    <span>Type: {{competition.type}}</span>
    <span>Start: {{competition.start}}</span>
    <span>End: {{competition.end}}</span>
    <span *ngIf="!isCompetitionsHasPartakeRequest(competition)"><button (click)="addPartakeRequest(competition); $event.stopPropagation()">Want to Partake</button></span>
    <ul>
      <li *ngFor="let item of threadMap.get(competition)">
        <span *ngIf="item.parentMsgId !== null"> - </span>
        <span>ThreadId: {{item.msgThreadId}}</span>
        <span>Id: {{item.msgId}}</span>
        <span>ParentId: {{item.parentMsgId}}</span>
        <span>UserId:  {{item.authorId}}</span>
        <span>Text: {{item.msgText}}</span>
        <span>Created: {{item.creationDate}}</span>
        <span>Updated: {{item.updateDate}}</span>
        <span>Comp: {{item.competitionId}}</span>
        <span><button (click)="showReplyBox(item, competition); $event.stopPropagation()">Reply</button></span>
        <span *ngIf="canEdit(item)"><button (click)="showEditBox(item, competition); $event.stopPropagation()">Edit</button></span>
        <span *ngIf="canDelete(item, competition)"><button (click)="deleteMsg(item, competition); $event.stopPropagation()">Delete</button></span>
      </li>
    </ul>
  </li>
  <div *ngIf="reply" class="form-group">
    <h4>Reply message</h4>
    <label for="rmessage">Your Reply:</label>
    <textarea id="rmessage" class="form-control" required [(ngModel)]="newDiscussItem.msgText" name="rmessage"></textarea>
    <button (click)="saveDiscussItem(); $event.stopPropagation()">Save</button>
    <button (click)="refreshAddEditStatus(); $event.stopPropagation()">Cancel</button>
  </div>
  <div *ngIf="edit" class="form-group">
    <h4>Edit message</h4>
    <label for="emessage">Message:</label>
    <textarea id="emessage" class="form-control" required [(ngModel)]="newDiscussItem.msgText" name="emessage"></textarea>
    <button (click)="saveDiscussItem(); $event.stopPropagation()">Save</button>
    <button (click)="refreshAddEditStatus(); $event.stopPropagation()">Cancel</button>
  </div>
</ul>

<!--<app-modal-component></app-modal-component>-->
