<script src="../PasswordConfirmValidator.ts"></script>
<h2>Смена пароля</h2>
<div class="alert alert-danger" *ngIf="commonErrorMsg">{{commonErrorMsg}}</div>
<div class="regItems">
  <form #chpForm="ngForm">
    <div *ngIf="!passwordData.token" class="form-group">
      <label for="passwordOld">Старый пароль (если отсутствует, оставить поле пустым):</label>
      <input type="password"
             autocomplete="off"
             id="passwordOld"
             name="passwordOld"
             class="form-control"
             [(ngModel)]="passwordData.oldPassword"
      />
    </div>
    <div  class="form-group">
      <label for="passwordNew">Пароль:</label>
      <input type="password"
             autocomplete="off"
             id="passwordNew"
             name="passwordNew"
             class="form-control"
             [(ngModel)]="passwordData.newPassword"
             required minlength="8"
      />
      <small>
        Пароль не менее 8 символов
      </small>
    </div>
    <div  class="form-group">
      <label for="passwordConfirm">Подтверждение пароля:</label>
      <input type="password"
             autocomplete="off"
             id="passwordConfirm"
             class="form-control"
             name="passwordRD1"
             required
             validateEqual="passwordNew"
             [(ngModel)]="passwordConfirm"
      />
    </div>
    <div class="form-group">
      <button [disabled]="!chpForm.valid" (click)="changePassword(); $event.stopPropagation();">Сменить пароль</button>
    </div>
  </form>
</div>
