<div>
<div style="display:inline-block; width:45%; vertical-align: top">
  <h2>Новости</h2>
  <h3>Осенний онлайн-фестиваль 2017</h3>
  <p *ngIf="isObEnded()">Голосование по обязательной классической программе закрыто.</p>
  <p *ngIf="isObEnded()">Голосование по обязательной джазовой программе закрыто.</p>
  <p *ngIf="isFreeEnded()">Голосование по обязательной свободной программе закрыто.</p>

  <p *ngIf="isObStarted() && !isObEnded()">Голосование по обязательной классической программе началось. Окончание голосования: 16 ноября 2017 <a routerLink="/voteBaroque" routerLinkActive="active">Голосовать</a></p>
  <p *ngIf="isObStarted() && !isObEnded()">Голосование по обязательной джазовой программе началось. Окончание голосования: 16 ноября 2017 <a routerLink="/voteJazz" routerLinkActive="active">Голосовать</a></p>
  <p *ngIf="isFreeStarted() && !isFreeEnded()">Голосование по обязательной свободной программе началось. Окончание голосования: 30 ноября 2017 <a routerLink="/voteFree" routerLinkActive="active">Голосовать</a></p>

  <p *ngIf="!isObStarted()">Срок сдачи записей обязательной классической программы: Понедельник, 16 октября 2017 <a routerLink="/baroque" routerLinkActive="active">Подать заявку</a></p>
  <p *ngIf="!isObStarted()">Срок сдачи записей обязательной джазовой программы: Понедельник, 16 октября 2017 <a routerLink="/jazz" routerLinkActive="active">Подать заявку</a></p>
  <p *ngIf="!isFreeStarted()">Срок сдачи записей обязательной свободной программы: Понедельник, 30 октября 2017 <a routerLink="/free" routerLinkActive="active">Подать заявку</a></p>

</div>
<div style="display:inline-block; width:45%; vertical-align: top">
  <h2>Задача сайта</h2>
  <p>Сайт даёт возможность музыкантам-любителям на духовых музыкальных инструментах выкладывать свои аудио и видео записи для показа и обсуждения в формате онлайн конкурсов и концертов.
  </p>
  <p> Известно, что самостоятельное обучение на музыкальных инструментах, в отличии от обучения в музыкальной школе,
    затруднено прежде всего отсутствием постоянной мотивации и контроля со стороны учителя.
    В музыкальных школах проводятся экзамены и концерты, где ученики показывают свои достижения и слушают игру своих товарищей.
    Только одной эмоциональной реакцией на игру, учащиеся уже дают оценку работам друг друга.
    В то же время люди, обучающиеся самостоятельно, пусть даже с консультациями у частного учителя,
    как правило, лишены этой важной составляющей в обучении - возможности показать свои достижения другим людям с такими же интересами
    и узнать их отзыв.</p>

  <p align="center"><img src="assets/images/CalendarEvents.png" width="70%"/></p>
  <p align="center"><small><a routerLink="/about" routerLinkActive="active">Подробнее о сайте</a></small></p>
</div>
</div>