<div>
<h2>Статистика фестивалей</h2>
<p>В результате голосования каждому участнику начисляются лавровые листочки и запоминаются в статистике. Результаты следующего фестиваля суммируются с
предыдущими. Количество листочков равное разным "Ля" в Гц конвертируется в лавровые венки. Листочки, используемые для венка, вычитаются из общей статистики участника.
Статистика ведется с 2011 года</p>
 <ul>
  <li>110 листочков - первый венок</li>
  <li>220 листочков - второй венок</li>
  <li>440 листочков - третий венок</li>
  <li>880 листочков - четвертый венок</li>
   <p>Почему в геометрической прогрессии?<br/>
   Дело в том, что количество усилий на дальнейший рост мастерства растет как раз в геометрической прогрессии, если не хуже. По крайней мере, точно нелинейно.</p>
 </ul>
  <h3>Это пример статистики, собранной на сайте blf.ru.</h3>
  <p><strong>На новом сайте счет листочков начнется заново.</strong> Тем не менее, имена участников прошлых фестивалей защищены от случайной регистрации других людей под этими именами.</p>
<table cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <tr>
    <th>Имя</th>
    <th colspan="2">Лавровые листочки&nbsp;&nbsp;</th>
    <th>Лавровые венки</th>
  </tr>
  <tr>
  <td><b>Antoni</b></td>
  <td>48</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Aquila79</b></td>
  <td>37</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Asashai</b></td>
  <td>4</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Avisz</b></td>
  <td>44</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Camille</b></td>
  <td>31</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Dr.Dev</b></td>
  <td>11</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td><img src="../assets/images/venki/DrDev.png" (click)="showVenok('../assets/images/venki/DrDev.JPG');$event.stopPropagation();" height="40"/>
    <img src="../assets/images/venki/venok220DrDev.png" (click)="showVenok('../assets/images/venki/venok220DrDev.JPG');$event.stopPropagation();" height="40"/>
  </td>
</tr>
<tr>
  <td><b>Ekavlad</b></td>
  <td>23</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>ElliKatarina</b></td>
  <td>54</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Laverse</b></td>
  <td>16</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Likir</b></td>
  <td>81</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Mastodont</b></td>
  <td>23</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Matamune</b></td>
  <td>59</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Mikeneko</b></td>
  <td>5</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>NikolayUB</b></td>
  <td>222</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td><img src="../assets/images/venki/venokNikolayUB110.png" (click)="showVenok('../assets/images/venki/venokNikolayUB110.JPG');$event.stopPropagation();" height="40"/>
    <img src="../assets/images/venki/venok220NikolayUB.png" (click)="showVenok('../assets/images/venki/venok220NikolayUB.JPG');$event.stopPropagation();" height="40"/>
  </td>
</tr>
<tr>
  <td><b>Olyock</b></td>
  <td>86</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td><img src="../assets/images/venki/Olyock.png" (click)="showVenok('../assets/images/venki/Olyock.JPG');$event.stopPropagation();" height="40"/>
  </td>
</tr>
<tr>
  <td><b>Parfen</b></td>
  <td>51</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Polos75</b></td>
  <td>17</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Primavera</b></td>
  <td>108</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>ShuraLab</b></td>
  <td>48</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Skajushka</b></td>
  <td>21</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Snail</b></td>
  <td>155</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td><img src="../assets/images/venki/Snail.png" (click)="showVenok('../assets/images/venki/Snail.JPG');$event.stopPropagation();" height="40"/>
    <img src="../assets/images/venki/venok220Snail.png" (click)="showVenok('../assets/images/venki/venok220Snail.JPG');$event.stopPropagation();" height="40"/>
  </td>
</tr>
<tr>
  <td><b>SofiK</b></td>
  <td>4</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Songduck</b></td>
  <td>46</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Sopilkar</b></td>
  <td>40</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td><img src="../assets/images/venki/venokSopilkar.png" (click)="showVenok('../assets/images/venki/venokSopilkar.JPG');$event.stopPropagation();" height="40"/>
  </td>
</tr>
<tr>
  <td><b>Szts</b></td>
  <td>7</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Tativa</b></td>
  <td>76</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td><img src="../assets/images/venki/venokTativa110.png" (click)="showVenok('../assets/images/venki/venokTativa110.JPG');$event.stopPropagation();" height="40"/>
    <img src="../assets/images/venki/venok220Tativa.png" (click)="showVenok('../assets/images/venki/venok220Tativa.JPG');$event.stopPropagation();" height="40"/>
  </td>
</tr>
<tr>
  <td><b>Tenzing</b></td>
  <td>10</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Torio Galanyuk</b></td>
  <td>99</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Ulens</b></td>
  <td>11</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Velodream</b></td>
  <td>19</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>VladK</b></td>
  <td>5</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Zaga</b></td>
  <td>9</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Аннушка</b></td>
  <td>20</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Дмитрий</b></td>
  <td>42</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Дмитрий25</b></td>
  <td>11</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Зиновия</b></td>
  <td>29</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Ильнара</b></td>
  <td>23</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>ЛенаКсения</b></td>
  <td>5</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>ЛюдМила</b></td>
  <td>66</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td><img src="../assets/images/venki/venokLudmila.png" (click)="showVenok('../assets/images/venki/venokLudmila.JPG');$event.stopPropagation();" height="40"/>
    <img src="../assets/images/venki/venok220LudMila.png" (click)="showVenok('../assets/images/venki/venok220LudMila.JPG');$event.stopPropagation();" height="40"/>
  </td>
</tr>
<tr>
  <td><b>Макс Хорош</b></td>
  <td>54</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Овсяночка</b></td>
  <td>216</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td><img src="../assets/images/venki/Ovsanochka.png" (click)="showVenok('../assets/images/venki/Ovsanochka.JPG');$event.stopPropagation();" height="40"/>
  </td>
</tr>
<tr>
  <td><b>Сережа</b></td>
  <td>19</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td></td>
</tr>
<tr>
  <td><b>Скользящая</b></td>
  <td>106</td>
  <td><img src="../assets/images/leaf.png" height="40"/></td>
  <td><img src="../assets/images/venki/Scolzyashchay.png" (click)="showVenok('../assets/images/venki/Scolzyashchay.JPG');$event.stopPropagation();" height="40"/>
  </td>
</tr>
  </tbody>
</table>
  <small>При регистрации Вы получите инструкцию, как зарегистрироваться под тем же именем, которое у Вас было на сайте blf.ru.
    Просто начинайте регистрироваться под своим именем и читайте сообщение в красном прямоугольнике, затем повторите регистрацию, выполняя условие инструкции.
  Усложненную регистрацию придется проходить только участникам фестиваля из этого списка. Также не исключено, что Вы пройдете регистрацию с первого раза, если непроизвольно выполните нужное условие.
  </small>
  <picture-modal-component></picture-modal-component>
</div>