<div id="primary" class="clear-block">
  <nav>
    <a *ngIf="competitionList.hasBaroque" routerLink="/baroque" routerLinkActive="active">Классическое</a>
    <a *ngIf="competitionList.hasJazz" routerLink="/jazz" routerLinkActive="active">Джазовая</a>
    <a *ngIf="competitionList.hasFree" routerLink="/free" routerLinkActive="active">Свободное</a>
    <a *ngIf="competitionList.hasComposition" routerLink="/composition" routerLinkActive="active">Композиторский конкурс</a>
  </nav>
</div>
<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
