<div id="primary" class="clear-block">
  <nav>
    <a class="button" [ngClass]="{'buttoncurrent': this.competitionShortInfo.compType == 2}"
       *ngIf="competitionList.hasFree" routerLink="/free" routerLinkActive="active">Свободная программа</a>
    <a class="button" [ngClass]="{'buttoncurrent': this.competitionShortInfo.compType == 0}"
       *ngIf="competitionList.hasBaroque" routerLink="/baroque" routerLinkActive="active">Классическая программа</a>
    <a class="button" [ngClass]="{'buttoncurrent': this.competitionShortInfo.compType == 1}"
       *ngIf="competitionList.hasJazz" routerLink="/jazz" routerLinkActive="active">Джазовая программа</a>
    <a class="button" [ngClass]="{'buttoncurrent': this.competitionShortInfo.compType == 3}"
       *ngIf="competitionList.hasComposition" routerLink="/composition" routerLinkActive="active">Композиторский конкурс</a>
  </nav>
</div>
